{% extends "base.html" %}
{% block title %} {{ hotel.name }} - Rooms {% endblock %}
{% block content %}
<div class="container mx-auto mt-10">
    <div class="flex flex-col justify-center items-center">
        <!-- Header section -->
        <div class="bg-blue-600 text-white py-4 px-8 flex justify-between items-center rounded-t-lg shadow-md w-full">
            <h1 class="font-bold text-3xl">{{ hotel.name }} - Rooms</h1>
            <a href="{{ url_for('room.create_room', hotel_id=hotel.id) }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200">New Room</a>
        </div>
        <!-- Content section -->
        <div class="py-8 px-6 shadow-md rounded-lg mt-4 w-full bg-white">
            {% if rooms %}
            <ul class="divide-y divide-gray-300">
                {% for room in rooms %}
                <li class="py-6 px-8 bg-gray-100 mb-6 rounded-lg">
                    <div class="flex justify-between items-center mb-6">
                        <div class="flex items-center space-x-6">
                            <p><span class="font-bold">Type:</span> <span class="ml-2 text-right">{{ room.type }}</span></p>
                            <p><span class="font-bold">Availability:</span> <span class="ml-2 text-right">{{ 'Available' if room.availability else 'Not Available' }}</span></p>
                            <p><span class="font-bold">Rooms Available:</span> <span class="ml-2 text-right">{{ room.rooms_available }}</span></p>
                            <p><span class="font-bold">Inclusion:</span> <span class="ml-2 text-right">{{ room.inclusion }}</span></p>
                            <p><span class="font-bold">Approved by:</span> <span class="ml-2 text-right">{{ room.approval|title }}</span></p>
                        </div>
                    </div>
                    <div class="divide-y divide-gray-300">
                        <div class="mb-4">
                            <h3 class="text-lg font-bold mb-2">Notes:</h3>
                            <p>{{ room.notes }}</p>
                        </div>
                        <div>
                            <h3 class="text-lg font-bold mb-2">Rates:</h3>
                            <div class="grid grid-cols-4 gap-4">
                                {% set ordered_months = ['january_rates', 'february_rates', 'march_rates', 'april_rates', 'may_rates', 'june_rates', 'july_rates', 'august_rates', 'september_rates', 'october_rates', 'november_rates', 'december_rates'] %}
                                {% for month_name in ordered_months %}
                                {% if month_name in room.to_dict() %}
                                <div class="mb-4">
                                    <h4 class="text-md font-bold cursor-pointer text-blue-500 hover:underline" onclick="toggleRates('{{ room.id }}', '{{ month_name }}')">{{ month_name[:3].capitalize() }}</h4>
                                    <ul id="{{ room.id }}-{{ month_name }}-rates" class="hidden flex flex-wrap space-x-2 mt-2">
                                        {% for day, rate in room.to_dict()[month_name].items() %}
                                        <li class="bg-blue-200 text-blue-800 rounded-full px-3 py-1 mb-2">{{ day }}: {{ rate }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-end mt-6">
                        <button type="button" onclick="openUpdatePricesModal('{{ room.id }}')" class="mr-2 bg-amber-600 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded">Update Prices</button>
                        <a href="{{ url_for('room.update_room', hotel_id=hotel.id, room_id=room.id) }}" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Update</a>
                        <form action="{{ url_for('room.delete_room', hotel_id=hotel.id, room_id=room.id) }}" method="post" class="inline">
                            <input type="hidden" name="hotel_id" value="{{ hotel.id }}">
                            <input type="hidden" name="room_id" value="{{ room.id }}">
                            <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-600 text-center py-4">No rooms available.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal HTML for each room -->
{% for room in rooms %}
<div id="updatePricesModal-{{ room.id }}" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-6">
        <h3 class="text-lg font-bold mb-4">Update Room Prices</h3>
        <form method="post" action="{{ url_for('room.update_prices', hotel_id=hotel.id, room_id=room.id) }}">
            <div class="mb-4">
                <label for="start_date_{{ room.id }}" class="block text-sm font-medium text-gray-700">Start Date</label>
                <input type="date" id="start_date_{{ room.id }}" name="start_date" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="end_date_{{ room.id }}" class="block text-sm font-medium text-gray-700">End Date</label>
                <input type="date" id="end_date_{{ room.id }}" name="end_date" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="weekday_price_{{ room.id }}" class="block text-sm font-medium text-gray-700">Weekday Price (SAR)</label>
                <input type="number" id="weekday_price_{{ room.id }}" name="weekday_price" min="0" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" required>
            </div>
            <div class="mb-4">
                <label for="weekend_price_{{ room.id }}" class="block text-sm font-medium text-gray-700">Weekend Price (SAR)</label>
                <input type="number" id="weekend_price_{{ room.id }}" name="weekend_price" min="0" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" required>
            </div>
            <div class="flex justify-end space-x-4">
                <button type="button" onclick="closeUpdatePricesModal('{{ room.id }}')" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded">Cancel</button>
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Save</button>
            </div>
        </form>
    </div>
</div>
{% endfor %}

<script>
    // Function to toggle rates
    function toggleRates(roomId, month) {
        var ratesElement = document.getElementById(roomId + '-' + month + '-rates');
        ratesElement.classList.toggle('hidden');
    }

    // Function to open the modal
    function openUpdatePricesModal(roomId) {
        var modal = document.getElementById("updatePricesModal-" + roomId);
        modal.classList.remove("hidden");
    }

    // Function to close the modal
    function closeUpdatePricesModal(roomId) {
        var modal = document.getElementById("updatePricesModal-" + roomId);
        modal.classList.add("hidden");
    }
    
</script>
{% endblock %}
