<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body class="bg-gray-100">
  <div class="max-w-lg w-full bg-white rounded-lg shadow-lg overflow-hidden p-6">
    <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Create User</h1>
    <form method="post">
      {{ form.hidden_tag() }}
      
      <div class="mb-4">
        {{ form.username.label(class="block text-gray-700 font-bold mb-2") }}
        {{ form.username(class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        {% for error in form.username.errors %}
        <span class="text-red-500">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.email.label(class="block text-gray-700 font-bold mb-2") }}
        {{ form.email(class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        {% for error in form.email.errors %}
        <span class="text-red-500">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.password.label(class="block text-gray-700 font-bold mb-2") }}
        {{ form.password(class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        {% for error in form.password.errors %}
        <span class="text-red-500">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-4">
        {{ form.role.label(class="block text-gray-700 font-bold mb-2") }}
        {{ form.role(class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
        {% for error in form.role.errors %}
        <span class="text-red-500">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="hidden">
        {{ form.agency_id() }}
      </div>

      <div class="text-center mt-6">
        {{ form.submit(class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-200") }}
      </div>
    </form>
  </div>
</body>
</html>
