{% extends "index.html" %}
{% block title %}Hotel Results{% endblock %}
{% block content %}
<div class="container mx-auto flex">
    <div class="w-3/4 pr-8">
        <h1 class="text-4xl font-bold text-center text-blue-700 my-8">{{ hotels|length }} Available Hotels in {{ location }}</h1>
        {% if hotels %}
            {% for hotel in hotels %}
            <div class="flex items-stretch mb-8 bg-white rounded-lg shadow-lg overflow-hidden">
                <div class="w-1/5">
                    <img src="{{ url_for('static', filename='images/hotel1.jpg') }}" alt="{{ hotel.name }}" class="w-full h-64 object-cover" />
                </div>
                <div class="w-4/5 px-6 py-4">
                    <h2 class="text-2xl font-semibold text-blue-700 mb-2">{{ hotel.name }}</h2>
                    <div class="flex items-center mb-2">
                        <i class="fas fa-map-marker-alt mx-2 text-blue-700"></i>
                        <span class="text-gray-600">{{ hotel.location }}</span>
                    </div>
                    <p class="text-gray-600 mb-4"><i class="fas fa-info-circle text-blue-700 mr-2"></i><strong>Description:</strong> {{ hotel.description }}</p>
                    {% if hotel.rooms %}
                        <button onclick="toggleRoomDetails({{ hotel.id }})" class="block text-center mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out">
                            View Rooms
                        </button>
                    {% endif %}
                    <ul id="room-details-{{ hotel.id }}" class="hidden mt-4 border-t border-gray-200 pt-4">
                        {% for room in hotel.rooms %}
                        <li class="mb-4">
                            <div class="border border-gray-200 rounded-lg p-4 bg-gray-100">
                                <div class="flex justify-between items-center mb-4">
                                    <div>
                                        <h3 class="text-lg font-semibold  text-blue-700">
                                            {{ room.type }} 
                                        </h3>
                                        <p class="text-gray-600">
                                            <i class="fas fa-pound-sign text-blue-700"></i> <!-- Icon for Total Price -->
                                            <span class=" text-blue-700">Total Price:</span> {{ room.total_price }}
                                        </p>
                                        <p class="text-gray-600">
                                            <i class="fas fa-check-circle  text-blue-700"></i> <!-- Icon for Inclusion -->
                                            <span class=" text-blue-700">Inclusion:</span> {{ room.inclusion }}
                                        </p>
                                    </div>
                                </div>
                                <div class="text-gray-500 text-sm">
                                    <form action="{{ url_for('main.booking_form', hotel_id= hotel.id, room_id = room.id) }}" method="GET">
                                        <input type="hidden" name="hotel_id" value="{{ hotel.id }}">
                                        <input type="hidden" name="room_id" value="{{ room.id }}">
                                        <input type="hidden" name="location" value="{{ location }}">
                                        <input type="hidden" name="check_in" value="{{ check_in }}">
                                        <input type="hidden" name="check_out" value="{{ check_out }}">
                                        <input type="hidden" name="nights" value="{{ nights }}">
                                        <input type="hidden" name="price" value="{{ room.total_price }}">
                                        <button style='background-color: blue;' type="submit" class="mt-2 bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out">Book Now</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-gray-600 mt-8">No hotels available for the selected location and dates.</p>
        {% endif %}
    </div>
<script>
    function toggleRoomDetails(hotelId) {
        var roomDetails = document.getElementById("room-details-" + hotelId);
        roomDetails.classList.toggle("hidden");
    }
</script>
{% endblock %}
